@import "../../../styles/var/var";
@import "../../../unit/input";


.m-input {
  &__label{
    font-size: $v-font-small;
    color:$v-color-gray-weak;
  }

  //动画效果
  &.animation {
    &__label{
      color:$v-color-gray-weak;
      font-size: $v-font-large;
      cursor:text;
      opacity: 0;
      visibility: hidden;
      white-space: nowrap;
      transition: all linear .2s;
    }
    &.active{
      &__label{
        font-size: $v-font-small;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //聚焦
  &.focus {
    .u-input {
      border-bottom: 1px solid $v-color-primary;
    }
  }

  //清除
  &__clear {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: $v-color-gray;
  }
}